.gs-icon {
    margin-right: 5px !important;
}
.gs-price {
    margin-left: 6px !important;
    display: inline-block;
}
.gs-popup-link {
    color: black;
}
.gs-popup-line {
    white-space: nowrap;
}
.gs-steam-icon {
    margin-top: 2px;
    margin-left: 5px;
}
.gs-steam-title {
    margin-bottom: 6px !important;
}
.gs-steam-price {
    margin-right: 5px;
    float: right;
}
.gs-humble-link {
    display: inline !important;
}
.gs-gog-icon {
    margin-left: 9px;
    margin-right: 6px;
}
.gs-gog-line {
    margin-top: 0;
}
.gs-origin-block {
    padding-top: 10px !important;
    border-top: 1px solid #C2C2C2;
}
.gs-origin-title {
    color: #444 !important;
    margin-bottom: 5px !important;
}
.gs-origin-line {
    display: block;
}
.gs-origin-link {
    color: #666;
    font-weight: bold;
}
.gs-wgs-icon {
    margin-left: -2px;
    margin-right: 5px;
}
.gs-gamersgate-block {
    text-align: left !important;
    margin-left: 20px !important;
}
.gs-gamersgate-line {
    text-align: left !important;
    margin-left: 20px !important;
    font-size: 13px !important;
}
